<!-- <div class="demo-button-container">
    <button routerLink = "/rf-chart" mat-raised-button (click)="getRfChart()" class="demo-button">
      Show Chart
    </button>
</div> -->

<li><a routerLink="/rf-chart">RF Chart</a></li>

<table mat-table  class="mat-elevation-z8" [dataSource]="rainfalls">
  
    <ng-container matColumnDef="step_start">
        <th mat-header-cell *matHeaderCellDef>Step Start</th>
        <td mat-cell *matCellDef="let rainfall">{{rainfall.step_start}}</td>
    </ng-container>
  
    <ng-container matColumnDef="step_end">
        <th mat-header-cell *matHeaderCellDef>Step End</th>
        <td  mat-cell class="description-cell"
                  *matCellDef="let rainfall">{{rainfall.step_end}}</td>
    </ng-container>

    <ng-container matColumnDef="val_min">
        <th mat-header-cell *matHeaderCellDef>Minimum Value</th>
        <td  mat-cell class="description-cell"
                  *matCellDef="let rainfall">{{rainfall.val_min}}</td>
    </ng-container>

    <ng-container matColumnDef="val_avg">
        <th mat-header-cell *matHeaderCellDef>Average Value</th>
        <td  mat-cell class="description-cell"
                  *matCellDef="let rainfall">{{rainfall.val_avg}}</td>
    </ng-container>

    <ng-container matColumnDef="val_max">
        <th mat-header-cell *matHeaderCellDef>Maximum Value</th>
        <td  mat-cell class="description-cell"
                  *matCellDef="let rainfall">{{rainfall.val_max}}</td>
    </ng-container>

    <ng-container matColumnDef="val_avg_day">
        <th mat-header-cell *matHeaderCellDef>Average Value Day</th>
        <td  mat-cell class="description-cell"
                  *matCellDef="let rainfall">{{rainfall.val_avg_day}}</td>
    </ng-container>

    <ng-container matColumnDef="val_avg_night">
        <th mat-header-cell *matHeaderCellDef>Average Value Night</th>
        <td  mat-cell class="description-cell"
                  *matCellDef="let rainfall">{{rainfall.val_avg_night}}</td>
    </ng-container>
  
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
</table>